html 
{
    overflow: -moz-hidden-unscrollable;
    overflow-x: none;
    height: 100%;
}

body
{
    -ms-overflow-style: none;
    height: 100%;
	width: calc(100vw + 18px);
	overflow: auto;
    overflow-x: hidden;
}
body::-webkit-scrollbar 
{
    display: none;
}