
.tab-column
{
    height: 30px;
    float: right;
    padding-top: 10px;
    user-select: none;
}

.tab-underline
{                
    animation-direction: reverse;
    font-size: 17px;
}
.tab-underline.active
{
    animation-direction: normal;
}
    
.tab-content 
{
    display: none;
}
