.background {
  height: calc(100vh - calc(100vh - 100%));
  width: 100%;
  position: fixed;
  z-index: -100;
  pointer-events: none; }

.image-basis {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
