@charset "UTF-8";
/* override default theme stylesheet */
.h1, h2 {
  padding-top: 3px; }

.image {
  margin: auto;
  text-align: center;
  padding-bottom: 5px; }

.feature-image {
  max-width: 150px;
  margin: 5px;
  float: right; }

@media screen and (max-width: 600px) {
  .feature-image {
    display: none; } }

input[type="range"] {
  width: 200px;
  height: 16px;
  outline: none;
  background: none; }

input[type="range"]::-moz-range-track {
  height: 4px;
  background: var(--color-divider);
  border: none; }

input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: var(--color-font);
  border: none;
  border-radius: 50%; }

input[type="range"]::-moz-range-thumb:hover, input[type="range"]:active::-moz-range-thumb {
  width: 16px;
  height: 16px; }

input[type="range"]::-moz-range-progress {
  height: 4px;
  background: var(--color-font); }

input[type="range"]::-moz-focus-outer {
  border: none;
  /* 去除 focus 時候的外框虛線 */ }
